<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<pluginGroups>
		<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<sonar.host.url>https://mammutbaum36.fzi.de/sonar</sonar.host.url>
				<sonar.login>travisci</sonar.login>
				<sonar.password>{cH8Hjd5XBlYHD0ejg0L/6vKvULbxqK/Br9klC0eH6exh7NZc0Zb2sMk+j++ewwJ0}</sonar.password>
			</properties>
		</profile>
	</profiles>
	<servers>
		<server>
			<id>github.com</id>
			<username>CooperateDeploy</username>
			<password>{CY1EzTceo5EHTCQmkZwSwaGDKwjCUJZM3OUIkhUnuAEfSdDH3WAU5Aj/2LhhOVrl}</password>
		</server>
		<server>
			<id>github-cooperate-deploy</id>
			<password>{2ePfP9imHYsHmcJfBcPmr5mNA1z4T4X67qrsFGwkx7LwZ6ykk711oaCviReSNYrO5/UW5fTn+Q4ui7FSHOWgGg==}</password>
		</server>
		<server>
			<id>cooperate-repository</id>
			<username>cooperate-deployment</username>
			<password>{0X4v1oeeVEMHlqNy5w3YJvxWEp9WL8S8Nu68JW0mjWfzW9AxyZFK8R6t8ucIcSYP}</password>
		</server>
		<server>
			<id>cooperate-packagedrone</id>
			<username>deploy</username>
			<password>{ylsxsUQq9/8HoUj7+VQTm81BcWmmdTXWwOm1+uqse9euKPL+Ze7jJiAhEjYDwGKFzG/CjsdSjb47VZXBtR8+N3W0YmR3fHRMJKq9//u8v00/DBnzkNDJyqOYVKGNLSs1}</password>
		</server>
	</servers>
</settings>